<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bear+</title>
    <%- include ('./build/home-head') %>
  </head>
  <body>
    <header>
      <nav>
        <a id="page-icon" href="/home"><img src="/img/icon.png"></a>
        <a href="/home#features">Features</a>
        <p>|</p>
        <a href="/@bear-plus">Documents</a>
        <p>|</p>
        <a id="signin-modal-btn" data-toggle="modal" data-target="#sign-in-modal">Sign in</a>
      </nav>
      <div id="banner">
        <h1>Edit and share your notes with others</h1>
        <h4>Simple, flexible writing app with real-time collaboration for crafting notes.</h4>
        <h4>Capture fleeting ideas and formalize knowledge.</h4>
        <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up free</button>
      </div>  
      <div id="demo" class="home-container">
        <div id="demo-img">
          <img src="/img/demo.png">
        </div>
      </div>
    </header>
    <div id="features" class="home-container">
      <h2>Features</h2>
      <div class="feature-group">
        <div class="feature-text">
          <h2>Advanced Markup Editor</h2>
          <ul>
            <li>CommonMark Compatible Syntax<br><small>Heading, line separator, bold, link, code block, list, etc.</small></li>
            <li>Style Rich Previews</li>
            <li>In-line Drag and Drop Support for Images</li>
            <li>Note Information Dashboard</li>
            <li>JavaScript Code Syntax Highlight</li>
          </ul>
        </div> 
        <div class="feature-img">
          <img src="/img/markup.png">
        </div>
      </div>
      <div class="feature-group">
        <div class="feature-text">
          <h2>Simple Note Organizing Tool</h2>
          <ul>
            <li>Pin Note on Top</li>
            <li>Categorize with Hashtags</li>
            <li>Find note with full-text Search</li>
            <li>Archive and Trash Support</li>
          </ul>
        </div> 
        <div class="feature-img">
          <img src="/img/organize.png">
        </div>
      </div>
      <div class="feature-group">
        <div class="feature-text">
          <h2>Realtime Collaboration</h2>
          <ul>
            <li>Share Note Simply By Url</li>
            <li>Easy Note Permission Setting</li>
            <li>Real-time User Cursor Display</li>
            <li>Real-time Update and Save</li>
            <li>Add Comment to Note</li>
          </ul>
        </div> 
        <div class="feature-img">
          <img src="/img/share.png">
        </div>
      </div>
    </div>
    
    <div class="home-container join">
      <h2>Join Now For Free!</h2>
      <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
    </div>

    <footer>
      <nav>
        <a href="/@bear-plus">Documents</a>
        <p>|</p>
        <a href="/@bear-plus/terms">Terms</a>
        <p>|</p>
        <a href="/@bear-plus/privacy">Privacy</a>
        <p>|</p>
        <a href="/@bear-plus/contact">Contact us</a>
      </nav>
      <p class="copyright">© 2020 Bear Plus. All Rights Reserved.</p>
    </footer>
    <%- include ('./includes/modal') %>
    <%- include ('./build/home-scripts') %>
  </body>
</html>