<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bear+</title>
    <%- include ('./build/home-head') %>
  </head>
  <body>
    <header>
      <nav>
        <a id="page-icon" href="/home"><img  src="/img/icon.png"></a>
        <a href="/home#features">Features</a>
        <p>|</p>
        <a href="/@yk9331/tutorials">Tutorials</a>
        <p>|</p>
        <a id="signin-modal-btn" data-toggle="modal" data-target="#sign-in-modal">Sign in</a>
      </nav>
      <div id="banner">
        <h1>Edit and share your notes with others</h1>
        <h4>Simple, flexible writing app with real-time collaboration for crafting notes.</h4>
        <h4>Capture fleeting ideas and formalize knowledge.</h4>
        <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up free</button>
      </div>  
    </header>
    <div id="popular" class="home-container">
      <div class="feature-group">
        <h2>Popular notes</h2>
      </div>
    </div>
    <div id="features" class="home-container">
      <h2>Features</h2>
      <div class="feature-group">
        <h2>Advanced Markup Editor</h2>
      </div>
      <div class="feature-group">
        <h2>Simple Note Organizing Tool</h2>
      </div>
      <div class="feature-group">
        <h2>Realtime Collaboration</h2>
      </div>
      <div class="feature-group">
        <h2>Note Version Control</h2>
      </div>
    </div>
    
    <div class="home-container">
      <h2>Join Now For Free!</h2>
      <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
    </div>

    <footer>
      <nav>
        <a href="/@yk9331">Documents</a>
        <p>|</p>
        <a href="/@yk9331/terms">Terms</a>
        <p>|</p>
        <a href="/@yk9331/terms">Privacy</a>
        <p>|</p>
        <a href="/@yk9331/terms">Contact us</a>
      </nav>
      <p class="copyright">© 2020 Bear Plus. All Rights Reserved.</p>
    </footer>
    <!-- Sign in modal -->
    <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="api/1.0/signin" method="POST" enctype="application/x-www-form-urlencoded">
              <div class="form-group">
                <label for="signin-email">Email</label>
                <input type="email" class="form-control" id="signin-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="signin-password">Password</label>
                <input type="password" class="form-control" id="signin-password" name="password" placeholder="Password">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </form>
          </div>
          <h5 class="text-center">or</h5>
          <div class="form-group d-flex justify-content-center">
            <a href="/api/1.0/auth/facebook">
              <button type="button" class="btn btn-primary">Sign in via Facebook</button>
            </a>
            <a href="/api/1.0/auth/google">
              <button type="button" class="btn btn-light">Sign in via Google</button>
            </a>
          </div>
          <div class="form-group">
            <p class="text-center">Don't have account? <a href="#" data-toggle="modal" data-target="#sign-up-modal" data-dismiss="modal">Sign up here</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Sign up modal -->
    <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title center">Sign up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="api/1.0/register" method="POST" enctype="application/x-www-form-urlencoded">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" class="form-control" id="userId" name="userId" aria-describedby="userIdHelp" placeholder="Enter user id">
                <small id="userIdHelp" class="form-text text-muted">Short URL path for your profile. Allow a-Z, 0-9 and dash.</small>
              </div>
              <div class="form-group">
                <label for="signup-eamil">Email</label>
                <input type="email" class="form-control" id="signup-eamil" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" name="password" placeholder="Password">
              </div>
              <p class="text-center">By signing up you accept our Terms Of Use</p>
              <div class="text-center">
              <button type="submit" class="btn btn-primary text-center">Sign up</button>
              </div>
            </form>
          </div>
          <h5 class="text-center">or</h3>
            <div class="modal-footer d-flex justify-content-center">
              <a href="/api/1.0/auth/facebook">
                <button type="button" class="btn btn-primary">Sign in via Facebook</button>
              </a>
              <a href="/api/1.0/auth/google">
                <button type="button" class="btn btn-light">Sign in via Google</button>
              </a>
            </div>
          <div class="form-group">
            <p class="text-center">Have an account? <a href="#" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal">Sign in here</a></p>
          </div>
        </div>
      </div>
    </div>
    <%- include ('./build/home-scripts') %>
  </body>
</html>