<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bear+</title>
    <%- include ('./build/home-head') %>
  </head>
  <body>
    <header>
      <nav>
        <a id="page-icon" href="/home"><img src="/img/icon.png"></a>
        <a href="/home#features">Features</a>
        <p>|</p>
        <a href="/@yk9331/tutorials">Tutorials</a>
        <p>|</p>
        <a id="signin-modal-btn" data-toggle="modal" data-target="#sign-in-modal">Sign in</a>
      </nav>
      <div id="banner">
        <h1>Edit and share your notes with others</h1>
        <h4>Simple, flexible writing app with real-time collaboration for crafting notes.</h4>
        <h4>Capture fleeting ideas and formalize knowledge.</h4>
        <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up free</button>
      </div>  
    </header>
    <div id="demo" class="home-container">
      <div id="editor" class="feature-group">
        <h2>Editor Demo</h2>
      </div>
    </div>
    <div id="features" class="home-container">
      <h2>Features</h2>
      <div class="feature-group">
        <h2>Advanced Markup Editor</h2>
      </div>
      <div class="feature-group">
        <h2>Simple Note Organizing Tool</h2>
      </div>
      <div class="feature-group">
        <h2>Realtime Collaboration</h2>
      </div>
      <div class="feature-group">
        <h2>Note Version Control</h2>
      </div>
    </div>
    
    <div class="home-container">
      <h2>Join Now For Free!</h2>
      <button type="button" class="btn btn-outline-light btn-lg signup-btn" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
    </div>

    <footer>
      <nav>
        <a href="/@yk9331">Documents</a>
        <p>|</p>
        <a href="/@yk9331/terms">Terms</a>
        <p>|</p>
        <a href="/@yk9331/terms">Privacy</a>
        <p>|</p>
        <a href="/@yk9331/terms">Contact us</a>
      </nav>
      <p class="copyright">© 2020 Bear Plus. All Rights Reserved.</p>
    </footer>
    <%- include ('./includes/modal') %>
    <%- include ('./build/home-scripts') %>
  </body>
</html>