<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bear+</title>
    <style>
      #editor textarea { 
        width: 100%; 
        height: 100%; 
        box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        padding: 3px 10px;
        border: none; 
        outline: none; 
        font-family: inherit; 
        font-size: inherit }
      .ProseMirror-menubar-wrapper, #markdown textarea { display: block; margin-bottom: 4px }
    </style>
  </head>
  <body>
    <header>
    </header>
    <div id="page-wrapper">
      <div id="tags-container"></div>
      <div id="notes-container">
        <div style="text-align: center">
          <label style="border-right: 1px solid silver">
            Markdown <input type=radio name=inputformat value=markdown checked>&nbsp;</label>
          <label>&nbsp;<input type=radio name=inputformat value=prosemirror> WYSIWYM</label>
        </div>
      </div>
      <div id="editor-container">
        <!-- <div id="editor"></div>
        <div id=content style="display: none"></div> -->
        <div id="editor" style="margin-bottom: 0"></div>
        
        <div style="display: none">
          <textarea id="content">This is a comment written in [Markdown](http://commonmark.org). *You* may know the syntax for inserting a link, but does your whole audience?&#13;&#13;So you can give people the **choice** to use a more familiar, discoverable interface.</textarea>
        </div>
      </div>
    </div>
  </body>
</html>
