<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bear+</title>
  </head>
  <body>
    <header>
    </header>
    <div id="page-wrapper">
      <div id="tags-container"></div>
      <div id="notes-container"></div>
      <div id="editor-container">
        <textarea id="editor"></textarea>
      </div>
    </div>
  </body>
  </html>
