<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bear+</title>
  </head>
  <body>
    <header>
    </header>
    <h1 class="title bg-warning">Hello World</h1>
    <div>
    </div>
    <textarea id="note"></textarea>
  </body>
