* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto","Noto Sans TC";
  font: 400 15px/24px "Roboto","Noto Sans TC";
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  color: white;
}

nav a,
nav p{
  color: white;
  font-weight: 600;
  margin: 0 0 0 20px;
  font-size: 1rem;
}

nav a:first-child{
  margin-left: 0;
}

nav a:hover,
nav a:not([href]):hover{
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(205, 86 ,84);
}

header nav #page-icon{
  margin-right: auto;
  height: 30px
}

header nav img{
  height: 100%;
}

#banner{
  color: white;
  text-align: center;
  margin-top: 130px;
}

#banner h1{
  font-size: 3rem;
  margin-bottom: 30px;
}

footer{
  padding: 30px 0;
  background-color: rgb(47,50,53);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright{
  margin-top: 40px;
  color: white;
}

@media(min-width: 1080px){
  header nav{
    margin: 0 100px ;
  }
}
