* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font: 400 15px/24px Roboto;
}

header{
  padding-top: 30px;
  background-color: rgb(47,50,53);
  height: 550px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  color: white;
}

nav a,
nav p{
  color: white;
  font-weight: 600;
  margin: 0 0 0 20px;
  font-size: 1rem;
}

nav a:first-child{
  margin-left: 0;
}

nav a:hover,
nav a:not([href]):hover{
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(205, 86 ,84);
}

header nav #page-icon{
  margin-right: auto;
  height: 30px
}

header nav img{
  height: 100%;
}

#banner{
  color: white;
  text-align: center;
  margin-top: 130px;
}

#banner h1{
  font-size: 3rem;
  margin-bottom: 30px;
}

.signup-btn{
  margin-top: 20px;
  background-color: rgb(205, 86 ,84);
  border: 2px solid rgb(205, 86 ,84);
  color: white;
}

.signup-btn:hover{
  border: 2px solid rgb(184, 79, 78);
  background-color: rgb(184, 79, 78);
  color: white;
}

#banner .signup-btn{
  margin-top: 50px;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#demo{
  background-color: rgb(47,50,53);
  padding-top: 0;
  
}
#demo-img{
  width: 1200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 -1px 20px rgba(255, 255, 255, 0.1);
}

#demo-img img{
  width: 100%;
}


#features{
  margin-top: 50px;
}

.feature-group{
  height: 500px;
  width: 70%;
  margin: 50px;
  display: flex;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.feature-text{
  padding: 30px;
  width: 50%;
}
.feature-text h2{
  margin-bottom: 30px;
}

.feature-text ul{
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.feature-text li{
  margin-bottom: 20px;
}

.feature-img{
  width: 50%;
  overflow: hidden;
  background-color: rgb(251,251,251);
  display: flex;
  align-items: center;
}

.feature-img img{
  width: 100%;
}

.join{
padding: 50px;
}

footer{
  padding: 30px 0;
  background-color: rgb(47,50,53);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright{
  margin-top: 40px;
  color: white;
}

@media(min-width: 1080px){
  header nav{
    margin: 0 100px ;
  }

  .feature-group{
    width: 50%;
  }
}

