header{
  padding-top: 30px;
  background-color: rgb(47,50,53);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signup-btn{
  margin-top: 20px;
  background-color: rgb(205, 86 ,84);
  border: 2px solid rgb(205, 86 ,84);
  color: white;
}

.signup-btn:hover{
  border: 2px solid rgb(184, 79, 78);
  background-color: rgb(184, 79, 78);
  color: white;
}

#banner .signup-btn{
  margin-top: 50px;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#demo{
  background-color: rgb(47,50,53);
  margin-top: auto;
  
}
#demo-img{
  width: 1200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 -1px 20px rgba(255, 255, 255, 0.1);
}

#demo-img img{
  width: 100%;
}

#features{
  margin-top: 50px;
}

.feature-group{
  height: 500px;
  width: 70%;
  margin: 50px;
  display: flex;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.feature-text{
  padding: 30px;
  width: 50%;
}
.feature-text h2{
  margin-bottom: 30px;
}

.feature-text ul{
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.feature-text li{
  margin-bottom: 20px;
}

.feature-img{
  width: 50%;
  overflow: hidden;
  background-color: rgb(251,251,251);
  display: flex;
  align-items: center;
}

.feature-img img{
  width: 100%;
}

.join{
  padding: 50px;
}

@media(min-width: 1080px){
  .feature-group{
    width: 50%;
  }
}

