body{
  padding: 0;
  margin: 0;
}

#page-wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
}

/* ============ Tags List ========== */
#tags-container{
  flex: 1;
  background-color: rgb(47, 50, 53);
}

/* ============ Notes List ========== */
#notes-container{
  flex: 2;
  border-right: 1px solid  rgb(222, 222, 222);
}

/* ============ Editor =========== */
#editor-container{
  flex: 5;
}

.CodeMirror {
  height: 100%;
  border: none;
  padding: 10px;
  font: inherit;
  z-index: 1;
}

.CodeMirror-scroll {
  min-height: 300px
}

.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: .8
}

.CodeMirror .CodeMirror-code .cm-tag {
  color: #63a35c;
}

.CodeMirror .CodeMirror-code .cm-attribute {
  color: #795da3;
}

.CodeMirror .CodeMirror-code .cm-string {
  color: #183691;
}

.CodeMirror .CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror .cm-formatting-header{
  color: salmon
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 200%;
  line-height: 200%;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 160%;
  line-height: 160%;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 125%;
  line-height: 125%;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 110%;
  line-height: 110%;
}

.CodeMirror .CodeMirror-code .cm-comment {
  background: rgba(0, 0, 0, .05);
  border-radius: 2px;
}

.CodeMirror .CodeMirror-code .cm-link {
  color: #7f8c8d;
}

.CodeMirror .CodeMirror-code .cm-url {
  color: #aab2b3;
}

.CodeMirror .CodeMirror-code .cm-strikethrough {
  text-decoration: line-through;
}

.CodeMirror .CodeMirror-placeholder {
  opacity: .5;
}