body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font: 400 15px/24px Roboto;
  position: relative;
  overflow: hidden;
}

.btn{
  margin-right: 10px;
}

.btn:last-child{
  margin-right: 0;
}

#page-wrapper{
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#menu{
  width: 15%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  background-color: rgb(47,50,53);
  justify-content: start;
  color: white;
  cursor: default;
}

#profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#profile .user-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white ;
}

#profile .user-name{
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

#profile .user-id{
  color: lightgrey;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

#types-container,
#tags-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

#types-container{
  margin-top: 47px;
}

#tags-container{
  margin-top: 20px;
}

#types-container .type,
#tags-container .tag{
  text-align: left;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

#types-container .sub-type{
  text-align: left;
  padding: 5px;
  display: none;
  justify-content: flex-start;
}

#types-container .type.current,
#types-container .sub-type.current,
#tags-container .tag.current{
  background-color: rgb(205, 86 ,84);
}

.type .tag-icon:first-child,
.tag .tag-icon:first-child{
  margin-left: 24px;
}

.sub-type .tag-icon:first-child{
  margin-left: 38px;
}

.tag-text{
  margin-left: 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 16px;
}

#setting{
  padding: 24px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#setting .user-wrapper{
  display: flex;
  align-items: center;
  margin-right: auto;
}

#setting .user-wrapper .user-icon{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}

#signin-modal-btn{
  width: 100px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-right: auto;
  text-align: center;
}

#setting .info .info-btn{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #aaa;
  text-align: center;
  margin-left: 10px;
}

#note-column{
  width: 25%;
  min-width: 200px;
  border-right: 1px solid rgb(222,222,222);
}

#search-bar{
  display: flex;
  flex-direction: row;
  padding:  5px 3px;
  align-items: center;
  border-bottom: 1px solid rgb(222,222,222);
  background-color: rgb(251,251,251);
}

#search-form{
  width: auto;
  flex-grow: 1;
  padding: 5px;
  display: flex;
  justify-content: stretch;
}

#search-form input{
  height: 26px;
  border: 1px solid rgb(222,222,222);
  border-radius: 3px;
  flex-grow: 1;
  padding: 3px;
}

#new-note{
  width: 24px;
  height: 24px;
  border: 1px solid rgb(222,222,222);
  border-radius: 3px;
  color: rgb(117,117,117);
  line-height: 24px;
  font-size: 18px;
  padding: 0;
  margin: 5px;
  cursor: pointer;
  background-color: white;
}

#new-note:disabled{
  display: none;
}

#notes-container{
  height: calc(100% - 47px);
  overflow: auto;
  background-color: rgb(251,251,251);
}

.note-tab{
  height: 90px;
  border-bottom: 1px solid rgb(222,222,222);
  background-color: rgb(251,251,251);
  border-left: 5px solid rgb(251,251,251);
  display: flex;
  position: relative;
}

.note-tab:hover .pin,
.note-tab:hover .archive,
.note-tab:hover .delete{
  display: block;
}

.note-tab .info{
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(100%-50px);
  height: 90px;
  padding: 10px 0;
}

.note-tab .pin{
  display: none;
  cursor: pointer;
  width: 50px;
  height: 90px;
  cursor: pointer;
  line-height: 90px;
  text-align: center;
  color: rgb(185, 184, 184);
}

.note-tab .pinned{
  color: rgb(205, 86 ,84);
  width: 50px;
  height: 90px;
  cursor: pointer;
  line-height: 90px;
  text-align: center;
}

.note-tab .archive{
  display: none;
  position: absolute;
  top: 0;
  right: 50px;
  width: 50px;
  height: 90px;
  background-color: rgb(47,50,53);
  color: white;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
  z-index: 10;
}

.note-tab .delete{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 90px;
  background-color: rgb(205, 86 ,84);
  color: white;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
  z-index: 10;
}

.note-tab.current{
  background-color: white;
  border-left: 5px solid rgb(205, 86 ,84);
}

#editor-container{
  position: relative;
  width: 60%;
  min-width: 500px;
  overflow: hidden;
}

#button-container{
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #aaa;
  z-index: 100;
  cursor: default;
}

#button-container .icon{
  margin-bottom: 15px;
}

#info-btn,
#share-btn,
#menu-btn{
  font-size: 28px;
}
#history-btn{
  font-size: 30px;
}

#share-panel li{
  padding: 0 10px;
  display: flex;
  align-items: flex-end;
}

#sharing-status,
#sharing-msg{
  font-size: 12px;
  line-height: 22px;
  
}

#sharing-status{
  margin-left: auto;
}

#sharing-status.error,
#sharing-msg.error{
  color: rgb(205, 86 ,84);
}
#sharing-status.success,
#sharing-msg.success{
  color: #28A745;
}

#note-shortUrl-input{
  border-top-right-radius: 0;
  border-bottom-right-radius:0;
}

#note-shortUrl-save,
#note-shortUrl-copy{
  border-top-left-radius: 0;
  border-bottom-left-radius:0;
}

#note-shortUrl-save{
  display: none;
}

#share-panel .permission-select{
  padding: 3px 10px;
}


#info-dashboard,
#editor-tool{
  display: none;
  position: absolute;
  right: 20px;
  z-index: 10000;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 8px rgba(47,50,53, 0.1);
  width: 200px;
  height: 300px;
  align-items: center;
  border: 1px solid #ddd;
}

#info-dashboard{
  top:55px;
}

#editor-tool-checkbox:checked ~ #editor-tool {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
}

#editor-tool{
  top:95px;
}

#view-source-btn{
  display: block;
  margin-left: 1em;
  width:80%;
  height: 50px;
  z-index: 10000;
  border:1px solid rgb(47,50,53);
  border-radius: 5px;
  margin: 5px;
}

.commit {
  margin-bottom: 4px;
}
.commit:hover {
  background: #ff8;
}
.commit-revert {
  color:  rgb(205, 86 ,84);
}
.commit-time {
  background: #5ab;
  padding: 0 5px;
  color: white;
  font-size: 90%;
}
.commit-blame {
  background: #ff8;
}
.blame-info {
  position: fixed;
  border: 1px solid silver;
  background: white;
  padding: 3px 8px;
  z-index: 3;
}
.blame-wrap {
  position: absolute;
  right: 0;
  top: 0;
}
#commit {
  margin: 6px 0;
  position: relative;
}
.blame-marker {
  background: #ff8;
}

#editor{
  height: 100vh;
  overflow: auto;
  background-color: rgb(251,251,251);
  background-image: url('/img/note-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



