body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font: 400 15px/24px Roboto;
}

.btn{
  margin-right: 10px;
}

.btn:last-child{
  margin-right: 0;
}

#page-wrapper{
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#menu{
  width: 15%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  background-color: rgb(47,50,53);
  justify-content: start;
  color: white;
}

#profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#profile .user-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white ;
}

#profile .user-name{
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

#profile .user-id{
  color: lightgrey;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

#types-container,
#tags-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
}

#types-container .tag,
#tags-container .tag{
  text-align: left;
  padding: 2px 24px;
  display: flex;
  align-items: center;
  
}
.tag .tag-icon{
  width: 20px;
  height: 20px;
  background-color: seashell; 
}

.tag .tag-text{
  margin-left: 10px;
  font-size: 16px;
}

#setting{
  padding: 24px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#setting .user-wrapper{
  display: flex;
  align-items: center;
  margin-right: auto;
}

#setting .user-wrapper .user-icon{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}

#signin-modal-btn{
  width: 100px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-right: auto;
  text-align: center;
}

#setting .info .info-btn{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #aaa;
  text-align: center;
  margin-left: 10px;
}

#notes-container{
  width: 25%;
  min-width: 200px;
  border-right: 1px solid rgb(222,222,222);
}

#search-bar{
  display: flex;
  flex-direction: row;
  padding:  5px 3px;
  align-items: center;
  border-bottom: 1px solid rgb(222,222,222);
  background-color: rgb(251,251,251);
}

#search-form{
  width: auto;
  flex-grow: 1;
  padding: 5px;
  display: flex;
  justify-content: stretch;
}

#search-form input{
  height: 26px;
  border: 1px solid lightgray;
  border-radius: 3px;
  flex-grow: 1;
  padding: 3px;
}

#new-note{
  width: 24px;
  height: 24px;
  border: 1px solid lightgray;
  border-radius: 3px;
  color: lightgray;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

#editor-container{
  width: 60%;
  min-width: 500px;
  
}

.editor-tool-btn,
.info-dashboard-btn{
  position: absolute;
  right: 20px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  justify-content: center;
  z-index: 100;
}

.info-dashboard-btn{
  top: 20px;
  border: 1px solid #aaa;
}

.info-dashboard-btn .circle{
  width: 2px;
  height: 2px;
  background-color: #aaa;
  border-radius: 50%;
  margin-bottom: 2px;
}

.info-dashboard-btn .line{
  width: 2px;
  height: 8px;
  background-color: #aaa;
}

.editor-tool-btn{
  top: 60px;
}

.editor-tool-btn .circle{
  width: 3px;
  height: 3px;
  background-color: #aaa;
  border-radius: 50%;
  margin-bottom: 4px;
}

.editor-tool-btn .circle:last-child{
  margin-bottom: 0px;
}

#editor-tool-checkbox,
#info-dashboard-checkbox{
  display: none;
}

#info-dashboard-checkbox:checked ~ #info-dashboard {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
}

#info-dashboard,
#editor-tool{
  display: none;
  position: absolute;
  right: 20px;
  z-index: 10000;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 8px rgba(47,50,53, 0.1);
  width: 200px;
  height: 300px;
  align-items: center;
  border: 1px solid #ddd;
}

#info-dashboard{
  top:55px;
}

#editor-tool-checkbox:checked ~ #editor-tool {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
}

#editor-tool{
  top:95px;
}

#view-source-btn{
  display: block;
  margin-left: 1em;
  width:80%;
  height: 50px;
  z-index: 10000;
  border:1px solid rgb(47,50,53);
  border-radius: 5px;
  margin: 5px;
}

.commit {
  margin-bottom: 4px;
}
.commit:hover {
  background: #ff8;
}
.commit-revert {
  color:  rgb(205, 86 ,84);
}
.commit-time {
  background: #5ab;
  padding: 0 5px;
  color: white;
  font-size: 90%;
}
.commit-blame {
  background: #ff8;
}
.blame-info {
  position: fixed;
  border: 1px solid silver;
  background: white;
  padding: 3px 8px;
  z-index: 3;
}
.blame-wrap {
  position: absolute;
  right: 0;
  top: 0;
}
#commit {
  margin: 6px 0;
  position: relative;
}
.blame-marker {
  background: #ff8;
}

#editor{
  height: 100vh;
  overflow: auto;
  background-color: rgb(251,251,251);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



