<div id="editor-container">
  <div id="button-container">
    <div class="btn-group dropleft">
      <div id="info-btn" type="button" class="icon material-icons-outlined" data-toggle="dropdown" data-offset="10, 10, 0, 0" aria-haspopup="true" aria-expanded="false">info</div>
      <ul id="info-panel" class="dropdown-menu dropdown-menu-left">
        <li id="saved-at" class="dropdown-item-text d-flex justify-content-start align-items-center">
          <div class="date"></div>
          <div class="right">
            <div class="time"></div>
            <div class="text">LAST SAVED DATE</div>
          </div>
        </li>
        <li><div class="line"></div></li>
        <li id="counts" class="dropdown-item-text d-flex justify-content-center align-items-center flex-wrap">
          <div id="words" class="count-tab flex-grow-1">
            <div class="count"></div>
            <div class="text">WORDS</div>
          </div>
          <div id="characters" class="count-tab flex-grow-1">
            <div class="count"></div>
            <div class="text">CHARACTERS</div>
          </div>
          <div id="readtime" class="count-tab flex-grow-1">
            <div class="count"></div>
            <div class="text">READ TIME</div>
          </div>
          <div id="paragraphs" class="count-tab flex-grow-1">
            <div class="count"></div>
            <div class="text">PARAGRAPHS</div>
          </div>
        </li>
        <li><div class="line"></div></li>
        <li id="collab-data" class="dropdown-item-text d-flex flex-column justify-content-start">
          <div class="count"></div>
          <div class="text">ONLINE USERS</div>
          <div class="user"></div>
          <div class="text">LAST CHANGE USER</div>
        </li>
        <li><div class="line"></div></li>
        <li id="created-at" class="dropdown-item-text d-flex flex-column justify-content-start ">
            <div class="time"></div>
            <div class="text">CREATION DATE</div>
        </li>
      </ul>
    </div>
    <div class="btn-group dropdown dropleft">
      <div id="share-btn" type="button" class="icon material-icons-outlined" data-toggle="dropdown" data-offset="10, 10, 0, 0" aria-haspopup="true" aria-expanded="false">
        share
      </div>
      <ul id="share-panel" class="dropdown-menu dropdown-menu-left">
        <li class="dropdown-header">Sharing
          <span id="sharing-status"></span>
        </li>
        <li class="dropdown-header"><small>https://bear-plus.yenchenkuo.com/<%= profileId %>/</small></li>
        <li class="dropdown-item-text input-group input-group-sm">
          <%if ( profileId == userId) {%>
            <input id="note-shortUrl-input" type="text" class="form-control">
          <% } else { %>
            <input id="note-shortUrl-input" type="text" class="form-control" disabled="true">
          <% } %>
          <div class="input-group-btn">
            <button id="note-shortUrl-copy" class="btn btn-outline-secondary btn-sm" type="button">Copy</button>
          </div>
          <div class="input-group-btn">
            <button id="note-shortUrl-save" class="btn btn-outline-success btn-sm" type="button">Save</button>
          </div>
          <div id="sharing-msg"></div>
        </li>
        <%if ( profileId == userId) {%>
        <li class="dropdown-divider"></li>
        <li class="dropdown-header">Note Permission</li>
        <li class="dropdown-item-text permission-select">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text">Read</label>
            </div>
            <select class="custom-select" id="permission-read">
              <option value="public">Public</option>
              <option value="private">Private</option>
            </select>
          </div>
        </li>
        
        <li class="dropdown-item-text permission-select">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text">Write</label>
            </div>
            <select class="custom-select" id="permission-write">
              <option value="public">Public</option>
              <option value="private">Private</option>
            </select>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
    <div id="history-btn" class="icon material-icons-outlined" data-toggle="modal" data-target="#version-modal">history</div>
    <div id="menu-btn" class="icon material-icons-outlined">palette</div>
  </div>
  <div id="editor" style="margin-bottom: 0"></div>
  <div style="display: none">
    <textarea id="content"></textarea>
  </div>
</div>
