<div id="editor-container">
  <div id="button-container">
    <div id="info-btn" class="icon material-icons-outlined">error_outline</div>
    <div id="share-btn" class="icon material-icons-outlined">share</div>
    <div id="tool-btn" class="icon material-icons-outlined">more_vert</div>
  </div>
  
  <div id="editor-tool">
    <button id="view-source-btn">View Source</button>
    <form id="commit">
      Commit message: 
      <input type=text id=message name=message> 
      <button id=commitbutton type="submit">commit</button>
    </form>
    <div id="commits" style="margin-bottom: 23px"></div>
  </div>
  <div id="editor" style="margin-bottom: 0"></div>
  <div style="display: none">
    <textarea id="content"></textarea>
  </div>
</div>
