<div id="editor-container">
  <label class="info-dashboard-btn" for="info-dashboard-checkbox">
    <div class="circle"></div>
    <div class="line"></div>
  </label>
  <input type="checkbox" id="info-dashboard-checkbox">
  <div id="info-dashboard"></div>
  <label class="editor-tool-btn" for="editor-tool-checkbox"><div class="circle"></div><div class="circle"></div><div class="circle"></div></label>
  <input type="checkbox" id="editor-tool-checkbox">
  <div id="editor-tool">
    <button id="view-source-btn">View Source</button>
    <form id="commit">
      Commit message: 
      <input type=text id=message name=message> 
      <button id=commitbutton type="submit">commit</button>
    </form>
    <div id="commits" style="margin-bottom: 23px"></div>
  </div>
  <div id="editor" style="margin-bottom: 0"></div>
  <div style="display: none">
    <textarea id="content"></textarea>
  </div>
</div>
