<div id="note-column">
  <div id="search-bar">
    <form id=search-form>
      <input type=text id="search-input" placeholder="Search Notes">
      <div id="clear-btn">X</div>
    </form>
    <%if (profile !== null && profileUrl === userUrl) { %>
      <button id="new-note">+</button>
    <% } %>
  </div>
  <div id="notes-container">
    <div id="notes">
    </div>
  </div>
</div>
